.wrapper{
    display: flex;
    justify-content: center;
    color: #cccccc;
}
.noData{
    width: 400px;
    text-align: center;
}
.noData svg{
    height: 372px;
}
.fullWidth{
    display: inline-block;
    width: 400px;
}